Utils.NumberToString/NumberConverterConfigurations/NumberConvertionConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="NumberConvertionConfiguration"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="Utils/NumberConvertionConfiguration.xsd"
    xmlns="Utils/NumberConvertionConfiguration.xsd"
    elementFormDefault="qualified"
    vc:minVersion="1.1"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
>

    <xs:annotation>
        <xs:documentation>
            Schema for number-to-string conversion configuration files used by
            NumberToStringConverter (omy.Utils.NumberToString).

            Each file contains one or more Language elements. Each Language defines:
            - How digits are written in each positional group (Groups)
            - How large-number scale names are built (NumberScale)
            - Optional post-processing replacement rules (Replacements)
            - Irregular number forms that bypass the algorithm (Exceptions)
            - An optional language-specific finalisation hook (LanguageSpecifics)
            - Optional fraction suffixes for decimal conversion (Fractions)
            - Optional ordinal-conversion rules (Ordinals)
            - Optional morphological variant declarations (Variants)

            The namespace URI used in XML files must match the targetNamespace:
                xmlns="Utils/NumberConvertionConfiguration.xsd"
        </xs:documentation>
    </xs:annotation>

    <!-- ═══════════════════════════ Simple types ══════════════════════════════════════ -->

    <xs:simpleType name="ReplacementScopeType">
        <xs:annotation>
            <xs:documentation>
                Controls where in the converted text a Replacement rule is applied.

                Standalone (default)
                    Replaces only when the entire text exactly equals oldValue.
                    Use for whole-number aliases such as "un mille" → "mille".

                Anywhere
                    Replaces every occurrence of oldValue as a substring.
                    Use when the pattern can appear at any position within the text.

                LastWord
                    Replaces oldValue only when it matches the last word of the text,
                    where "word boundary" means preceded by a space, a hyphen, or
                    the start of the string. The oldValue may itself span several words
                    (it is tested with EndsWith + boundary check).
                    Use for morphological variants that inflect the terminal unit only,
                    e.g. "un" → "une" in French feminine without touching "un million".

                StartsWith
                    Replaces only when the text begins with oldValue.
                    Use for prefix transformations, e.g. "one " → "a ".

                EndsWith
                    Replaces only when the text ends with oldValue (without word-boundary check).
                    Use for suffix transformations, e.g. "one" → "1" at end of text.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Standalone"/>
            <xs:enumeration value="Anywhere"/>
            <xs:enumeration value="LastWord"/>
            <xs:enumeration value="StartsWith"/>
            <xs:enumeration value="EndsWith"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ═══════════════════════════ Shared complex types ══════════════════════════════ -->

    <xs:complexType name="DigitType">
        <xs:annotation>
            <xs:documentation>
                Maps a single decimal digit (0–9) to its textual representation within
                a positional group.

                string
                    Standalone text used when this digit appears alone in its group and
                    there is no lower-order sub-group text to attach.
                    Example: "twenty" for digit 2 in the tens group.

                buildString (optional)
                    Template for composing this digit with a lower-order sub-group.
                    The placeholder "*" is replaced by the sub-group text.
                    Example: "twenty-*" → "twenty-one", "twenty-two", …
                    Omit at level 1 (units) where there is no lower group.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="digit" use="required">
            <xs:annotation>
                <xs:documentation>The digit value, 0 through 9.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:long">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="9"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="string" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The text produced when this digit stands alone in its group.
                    Use an empty string for digit 0 when zero in this position produces
                    no output (e.g. "0 tens" is silent in most languages).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="buildString" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Composite template with "*" replaced by the lower-order sub-group text.
                    Required at levels 2+ when the digit can precede sub-group text.
                    At level 1 (units) the attribute is ignored and may be omitted.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="DigitListType">
        <xs:annotation>
            <xs:documentation>
                An ordered list of Digit definitions for a positional group or a prefix table.
                Digit entries should cover the digits 0–9 in order; entries for digits
                that produce no text may omit the buildString attribute.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Digit" type="DigitType" minOccurs="0" maxOccurs="10"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NumberType">
        <xs:annotation>
            <xs:documentation>
                Maps a specific integer value to its literal text.
                Used for named scale levels (StaticNames) and for irregular number
                exceptions (Exceptions).
                The string attribute may contain "(s)" as a plural placeholder
                (e.g. "thousand(s)" → "thousand" or "thousands" depending on quantity).
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="value" type="xs:long" use="required">
            <xs:annotation>
                <xs:documentation>The integer value this entry represents.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="string" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The literal text for this value.
                    May contain "(s)" for plural handling when used in scale names.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="NumberListType">
        <xs:annotation>
            <xs:documentation>A list of integer-to-text exception mappings.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Number" type="NumberType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FractionType">
        <xs:annotation>
            <xs:documentation>
                Maps a count of decimal digits to a named fraction denominator suffix.
                Used when converting a decimal number to give a named fractional part.

                Example (English):
                    digits="1" string="tenth(s)"   → 0.5 = "five tenths"
                    digits="2" string="hundredth(s)" → 0.25 = "twenty-five hundredths"

                The string may contain "(s)" as a plural placeholder.
                When no entry matches the actual digit count, digits are spelled individually.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="digits" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>
                    Number of decimal digits. 1 = tenths, 2 = hundredths, 3 = thousandths, …
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="string" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Fraction denominator text. May contain "(s)" for plural handling.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="FractionListType">
        <xs:annotation>
            <xs:documentation>
                List of Fraction entries mapping digit counts to denominator suffixes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Fraction" type="FractionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ReplacementType">
        <xs:annotation>
            <xs:documentation>
                A single text substitution rule.

                Firing point
                ------------
                Without onScale: fires on the final assembled number string, after all
                groups have been concatenated. This is the default and most common mode.

                With onScale: fires per-group inside the conversion loop, on the text
                "digit-text + separator + scale-name" for the group whose scale index
                equals onScale, before the groups are assembled into the final string.
                Example: onScale="1" targets the thousands group ("ein tausend").

                onValue restriction
                -------------------
                onValue further restricts the rule to specific numeric values:
                  - With onScale: the value is the per-group digit value (0–999 for
                    3-digit groups). Example: onScale="1" onValue="1" fires only for
                    the thousands group when its digit value is exactly 1.
                  - Without onScale: the value is the full absolute number. Example:
                    onValue="..10" fires on the final string only for numbers 0–10.

                See the onScale and onValue attribute docs for full syntax details.

                Scope attribute
                ---------------
                The scope attribute controls where oldValue is matched within the text;
                see ReplacementScopeType for semantics.

                Variant children
                ----------------
                Child Variant elements declare per-dimension-value replacements using the
                forms attribute (see FormVariantType). They are expanded at load time into
                VariantRule entries merged by constraint set.

                Example — "ein tausend" collapsed to "tausend" only for value=1:
                    &lt;Replacement oldValue="ein tausend" newValue="tausend"
                                  onScale="1" onValue="1" /&gt;

                Example — German "ein" with four case forms for masculine:
                    &lt;Replacement oldValue="ein" scope="lastWord"&gt;
                        &lt;Variant type="gender" variant="maskulin"&gt;
                            &lt;Variant type="case" forms="eins,einen,einem,eines" /&gt;
                        &lt;/Variant&gt;
                    &lt;/Replacement&gt;
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Variant" type="FormVariantType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="oldValue" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The text pattern to search for.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="newValue" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The base replacement text (default variant).
                    May be omitted when all forms are covered by child Variant elements.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="scope" type="ReplacementScopeType" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Where the replacement is applied. Defaults to Standalone when omitted.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="onScale" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Restricts this replacement to one or more scale groups.
                    0 = units (ones), 1 = thousands, 2 = millions, 3 = billions, etc.
                    Supports the same comma-separated range syntax as onValue:
                      1       only the thousands group
                      1..3    thousands, millions, and billions
                      2..     millions and above
                      1,3     thousands and billions only
                    When absent the rule applies globally (fires on the final combined string).

                    Rules with onScale fire per-group on the text
                    "digit-text + separator + scale-name" before the groups are assembled.
                    Combined with onValue, the rule fires only when the group's numeric
                    digit value also matches; see the onValue attribute for syntax.

                    Example: onScale="1" onValue="1" fires only for the thousands group
                    when its digit value is exactly 1 (1 000 but not 21 000).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="onValue" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Restricts this replacement to specific numeric values.
                    Comma-separated segments; each segment is one of:
                      5       exact value 5
                      1..3    inclusive range [1, 3]
                      ..5     all values less than or equal to 5
                      5..     all values greater than or equal to 5
                    Example: onValue="1,5..10,20.."

                    When combined with onScale, the value is the per-group digit value
                    (e.g. 1 for the thousands group in 1 000).
                    When used without onScale, the value is the full absolute number and
                    the rule fires in the final combined-string pass.

                    Typical use: onScale="1" onValue="1" to replace "un mille" with
                    "mille" or "ein tausend" with "tausend" only for exactly 1 000.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ReplacementsListType">
        <xs:annotation>
            <xs:documentation>An ordered list of Replacement rules.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Replacement" type="ReplacementType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FormVariantType">
        <xs:annotation>
            <xs:documentation>
                A variant node used inside form-producing elements (Replacement, OrdinalException, Ordinal).

                Two roles:
                  Intermediate node  — type + variant add one constraint; child Variant elements
                                       cascade further constraints.
                  Leaf node          — type + forms give one output form per dimension value, in the
                                       order declared in the matching Dimension element.

                forms (leaf)
                    Comma-separated list of output strings, one per dimension value in declaration order.
                    Empty entries are skipped (no rule generated for that position).
                    Example with Dimension name="case" values="nom,gen,dat,acc,inst,prep":
                        forms="первый,первого,первому,первый,первым,первом"
                    creates six ordinal variant rules, one per case value.

                Compact gender example — when the parent element omits string= or to=, the first
                form in declaration order also serves as the default (no-variant) result:
                    Dimension name="gender" values="masculino,femenino"
                    &lt;OrdinalException value="1"&gt;
                        &lt;Variant type="gender" forms="primero,primera" /&gt;
                    &lt;/OrdinalException&gt;
                creates three rules: {gender:masculino}→"primero", {gender:femenino}→"primera",
                and a default (no variant) rule that also returns "primero".

                Nesting example — full Russian ordinal for "первый":
                    &lt;OrdinalException value="1" string="первый"&gt;
                        &lt;Variant type="gender" variant="maskulin"&gt;
                            &lt;Variant type="case" forms="первый,первого,первому,первый,первым,первом" /&gt;
                        &lt;/Variant&gt;
                        &lt;Variant type="gender" variant="feminin"&gt;
                            &lt;Variant type="case" forms="первая,первой,первой,первую,первой,первой" /&gt;
                        &lt;/Variant&gt;
                    &lt;/OrdinalException&gt;
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Variant" type="FormVariantType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="type" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Canonical dimension name (e.g. "gender", "case") or its localName alias.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="variant" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Single dimension value for an intermediate node. Used alongside child Variant elements.
                    Omit on leaf nodes that use the forms attribute instead.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="forms" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Comma-separated positional output forms for a leaf node, one per dimension value
                    in Dimension declaration order. Empty entries produce no rule for that position.
                    Mutually exclusive with child Variant elements and with "value".
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="value" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Single output form for this specific variant value (the value selected by the
                    "variant" attribute on the same node). Shorthand for the case where only one
                    dimension value needs an override without listing all positional forms.
                    Requires "variant" to be set. Mutually exclusive with "forms" and child Variant elements.

                    Example — override feminine only:
                        &lt;Variant type="genus" variant="feminin" value="eine" /&gt;
                    creates a single rule: {genus=feminin} → "eine".
                    Other values (maskulin, neutrum) are unaffected.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="OrdinalExceptionType">
        <xs:annotation>
            <xs:documentation>
                Maps a specific whole-number value directly to its ordinal text.
                Checked with highest priority in ConvertOrdinal, before word-level rules
                and before the suffix.

                The string attribute gives the base (default-variant) form.
                Child Variant elements declare per-dimension-value forms using the forms
                attribute (see FormVariantType). Forms are expanded at load time into
                OrdinalVariantRule entries merged by constraint set.

                When string is omitted and all forms are expressed via Variant children,
                the first form in dimension declaration order becomes the default (used
                when ConvertOrdinal is called without a matching variant).

                Example (French compact): value="1", Dimension gender values="masculin,feminin"
                    &lt;OrdinalException value="1"&gt;
                        &lt;Variant type="gender" forms="premier,première" /&gt;
                    &lt;/OrdinalException&gt;
                Example (French classic): value="1" string="premier"
                Example (Russian with nested variants):
                    &lt;OrdinalException value="1" string="первый"&gt;
                        &lt;Variant type="gender" variant="feminin"&gt;
                            &lt;Variant type="case" forms="первая,первой,первой,первую,первой,первой" /&gt;
                        &lt;/Variant&gt;
                    &lt;/OrdinalException&gt;
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Variant" type="FormVariantType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="value" type="xs:long" use="required">
            <xs:annotation>
                <xs:documentation>The integer value this exception applies to.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="string" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The base ordinal text for this value (default variant).
                    May be omitted when all forms are covered by child Variant elements
                    and dimension defaults guarantee a match.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="OrdinalRuleType">
        <xs:annotation>
            <xs:documentation>
                A word-level ordinal transformation rule: when the last word of the cardinal
                equals "from" (exact match, case-sensitive), it is replaced by "to".

                Rules are checked after whole-number OrdinalException entries and before
                the default suffix.

                The to attribute gives the base (default-variant) replacement.
                Child Variant elements declare per-dimension-value replacements using the
                forms attribute (see FormVariantType). Forms expand at load time into
                OrdinalVariantRule word-rule entries merged by constraint set.

                When to is omitted and all forms are expressed via Variant children,
                the first form in dimension declaration order becomes the default (used
                when ConvertOrdinal is called without a matching variant).

                Example (English): from="one" to="first", from="two" to="second"
                Example (Spanish compact): Dimension gender values="masculino,femenino"
                    &lt;Ordinal from="uno"&gt;
                        &lt;Variant type="gender" forms="primero,primera" /&gt;
                    &lt;/Ordinal&gt;
                Example (Russian with nested variants):
                    &lt;Ordinal from="один"&gt;
                        &lt;Variant type="gender" variant="maskulin"&gt;
                            &lt;Variant type="case" forms="первый,первого,первому,первый,первым,первом" /&gt;
                        &lt;/Variant&gt;
                    &lt;/Ordinal&gt;
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Variant" type="FormVariantType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="from" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The cardinal word to match (last word of the cardinal text).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="to" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The base ordinal replacement (default variant).
                    May be omitted when all forms are covered by child Variant elements.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="OrdinalVariantElementType">
        <xs:annotation>
            <xs:documentation>
                A single variant block inside OrdinalVariants. Declares one constraint via
                type (dimension name) + variant (dimension value), optional suffix/removeTrailing
                overrides, ordinal exceptions, word rules, and nested Variant elements for
                cascaded multi-dimension constraints.

                Cascading example — feminine accusative:
                    &lt;Variant type="gender" variant="feminin"&gt;
                        &lt;OrdinalException value="1" string="prima" /&gt;
                        &lt;Variant type="case" variant="accusative"&gt;
                            &lt;OrdinalException value="1" string="primam" /&gt;
                        &lt;/Variant&gt;
                    &lt;/Variant&gt;

                A nested Variant inherits all constraints from its ancestors and adds its own.
                The most specific matching variant (most constraints) wins at runtime.
            </xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="OrdinalException" type="OrdinalExceptionType" />
            <xs:element name="Ordinal" type="OrdinalRuleType" />
            <xs:element name="Variant" type="OrdinalVariantElementType" />
        </xs:choice>
        <xs:attribute name="type" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The canonical dimension name this variant constrains (e.g. "gender", "case").
                    Matches the name attribute of the corresponding Dimension declaration.
                    The localName alias is also accepted (e.g. "genus" for German gender).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="variant" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The single dimension value that must be active for this block to apply
                    (e.g. "femenino", "femminile", "feminin").
                    Mutually exclusive with "values": use one or the other.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="values" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Comma-separated list of dimension values — alternative to the single "variant"
                    attribute. Declares one rule for each listed value, all sharing the same body
                    (exceptions, word rules, suffix overrides, and nested sub-variants).
                    By convention, values should be listed in the same order as in the Dimension
                    declaration; the runtime accepts any order.
                    "values" takes priority over "variant" when both are present.
                    Example: values="akkusativ,dativ,genitiv"
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:assert test="@variant or @values"
            xpathDefaultNamespace="##targetNamespace">
            <xs:annotation>
                <xs:documentation>
                    An OrdinalVariant element must declare exactly one selector: either the "variant"
                    attribute (single value) or the "values" attribute (comma-separated list).
                    Omitting both would create an unconstrained catch-all rule.
                </xs:documentation>
            </xs:annotation>
        </xs:assert>
        <xs:attribute name="suffix" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Suffix override for this variant. When set, replaces the base suffix
                    for matching ordinals. Omit to fall back to the base suffix.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="removeTrailing" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    removeTrailing override for this variant. When set, replaces the base
                    removeTrailing value. Omit to fall back to the base value.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="OrdinalsType">
        <xs:annotation>
            <xs:documentation>
                Complete ordinal-conversion configuration for a language.
                When this element is present, ConvertOrdinal(int) is supported.

                Resolution order (highest to lowest priority):
                  1. Active OrdinalVariants/Variant exceptions — most-specific matching variant first.
                  2. Base OrdinalException — whole-number match.
                  3. Active OrdinalVariants/Variant word rules — most-specific first.
                  4. Base Ordinal word rule — last-word match.
                  5. Default suffix — appended to the last word (stripping removeTrailing first).

                OrdinalException and Ordinal elements may be freely interleaved; their
                relative order within the element does not matter.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="OrdinalException" type="OrdinalExceptionType">
                    <xs:annotation>
                        <xs:documentation>
                            Whole-number ordinal exception checked before word-level rules.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Ordinal" type="OrdinalRuleType">
                    <xs:annotation>
                        <xs:documentation>
                            Word-level rule applied to the last word of the cardinal.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="OrdinalVariants" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Container for variant-specific ordinal overrides. Each child Variant
                        targets one dimension value and may contain nested Variant elements
                        for cascaded multi-dimension constraints.
                        The most specific matching variant (most constraints) wins.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Variant" type="OrdinalVariantElementType"
                                    minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="suffix" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Default suffix appended to the (possibly trimmed) last word of the cardinal
                    when no OrdinalException and no Ordinal word rule matches.
                    Examples: "th" (English), "ième" (French).
                    Optional: may be omitted for prefix-only ordinal configurations.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="removeTrailing" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    When set, the given string is stripped from the end of the last cardinal
                    word before appending the suffix (only if the word actually ends with it).
                    Example (French): removeTrailing="e" — "quatre" → "quatr" + "ième" → "quatrième".
                    Has no effect when a word rule matches (the "to" value is used as-is).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="prefix" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Optional prefix prepended to the complete ordinal result after any suffix or
                    word-rule transformation. Useful for languages where the ordinal marker is a
                    leading particle rather than a suffix (e.g. Chinese/Japanese 第, Korean 제).
                    May be combined with suffix/word rules or used alone (prefix-only ordinals).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="VariantDimensionType">
        <xs:annotation>
            <xs:documentation>
                Declares one dimension of morphological variation for the language, together
                with an ordered list of its valid values.

                The first value in the "values" list is the default: when Convert() is called
                without an explicit parameter for this dimension, the first value is used.

                Examples:
                    name="gender"  localName="genus"     values="maskulin,feminin,neutrum"
                    name="case"    localName="sijamuoto"  values="nominatiivi,partitiivi,genetiivi"

                Dimension names are matched case-insensitively at runtime.
                Both the canonical name and the localName (if provided) are accepted in API
                calls and XML constraint attributes; localName is normalized to name internally.
                All Dimension elements must appear before any Variant element within Variants.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The canonical English dimension identifier used as the key in
                    "dimension=value" API calls (e.g. "gender", "case").
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="localName" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Optional language-specific alias accepted alongside the canonical name in
                    API calls and XML constraint attributes (e.g. "genus" for German,
                    "sijamuoto" for Finnish). Normalised to the canonical name at load time.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="values" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Comma-separated ordered list of valid values. Whitespace around commas
                    is trimmed. The first value is the default.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="VariantType">
        <xs:annotation>
            <xs:documentation>
                A morphological variant rule: one dimension constraint (type + variant attributes)
                plus replacement rules and optional nested Variant elements for cascaded constraints.

                type    — canonical dimension name (e.g. "gender", "case") or its localName alias.
                variant — the value that must be active (e.g. "feminin", "akkusativ").

                Nested Variant children inherit the parent constraint and add their own,
                allowing multi-dimension rules without listing all attribute permutations
                at the flat level. Example — feminine dative in German:
                    &lt;Variant type="gender" variant="feminin"&gt;
                        &lt;Replacement oldValue="ein" newValue="eine" scope="LastWord" /&gt;
                        &lt;Variant type="case" variant="dativ"&gt;
                            &lt;Replacement oldValue="eine" newValue="einer" scope="LastWord" /&gt;
                        &lt;/Variant&gt;
                    &lt;/Variant&gt;

                Variants are applied in order of ascending specificity (constraint count).
                A more specific variant can therefore override results from a less specific one.

                Replacement rules use the same scope semantics as top-level Replacements.
                LastWord restricts the substitution to the terminal unit, preventing changes
                inside prefixes like "un million" when only the terminal digit is inflected.
            </xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Replacement" type="ReplacementType">
                <xs:annotation>
                    <xs:documentation>
                        Replacement rule applied when all dimension constraints of this variant
                        are satisfied. Rules are applied in declaration order.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Variant" type="VariantType">
                <xs:annotation>
                    <xs:documentation>
                        Nested sub-variant that inherits this variant's constraint and adds its own.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
        <xs:attribute name="type" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The canonical dimension name (e.g. "gender", "case") or its localName alias.
                    Must match the name or localName of a declared Dimension element.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="variant" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The single dimension value that must be active for this variant to apply
                    (e.g. "feminin", "dativ", "partitiivi").
                    Mutually exclusive with "values": use one or the other.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="values" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Comma-separated list of dimension values — alternative to the single "variant"
                    attribute. Declares one rule for each listed value, all sharing the same body
                    (replacements and nested sub-variants).
                    By convention, values should be listed in the same order as in the Dimension
                    declaration; the runtime accepts any order.
                    "values" takes priority over "variant" when both are present.
                    Example: values="dativ,genitiv"
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:assert test="@variant or @values"
            xpathDefaultNamespace="##targetNamespace">
            <xs:annotation>
                <xs:documentation>
                    A Variant element must declare exactly one selector: either the "variant"
                    attribute (single value) or the "values" attribute (comma-separated list).
                    Omitting both would create an unconstrained catch-all rule.
                </xs:documentation>
            </xs:annotation>
        </xs:assert>
    </xs:complexType>

    <xs:complexType name="VariantsType">
        <xs:annotation>
            <xs:documentation>
                Complete morphological variant configuration for a language.
                Enables the Convert(number, "dimension=value", …) API.

                Structure:
                  1. Zero or more Dimension elements (must appear before Variant elements).
                  2. Zero or more Variant elements.

                At runtime the converter:
                  - Fills missing dimensions with their first declared value (the default).
                  - Applies matching Variant rules in order from least to most specific.
                  - Ignores unrecognised dimension names or values silently.

                Variants are applied after the user-supplied AdjustFunction and before
                INumberToStringLanguageSpecifics.FinalizeWriting.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Dimension" type="VariantDimensionType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Dimension declaration. All Dimension elements must precede Variant elements.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Variant" type="VariantType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Variant rule with dimension constraints and replacement rules.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TriggerReplaceType">
        <xs:annotation>
            <xs:documentation>
                A text-replacement rule inside a Trigger. When the trigger fires, a single
                replacement is applied — the most specific variant form that matches the active
                query, or "to" as the unconditional default when no variant matches.

                Variant children use the same FormVariantType syntax as in Replacement, Ordinal,
                and OrdinalException:
                  Leaf node  — type + forms: one replacement string per dimension value in
                               Dimension declaration order.
                  Intermediate node — type + variant (or values): adds a constraint and
                               delegates to nested Variant children.

                When "to" is omitted and Variant children are present, the first form in
                declaration order serves as the unconditional default.

                Example — German "ein" count form, feminine override:
                    &lt;Replace from="ein$" regex="true"&gt;
                        &lt;Variant type="genus" forms="eins,eine,eins" /&gt;
                    &lt;/Replace&gt;
                creates: maskulin → "eins", feminin → "eine", neutrum → "eins",
                         default (no variant) → "eins" (first form).

                Selection rule: the most specific matching variant (most constraints) wins.
                When "to" is provided it is always used as the unconditional default.
                Only one replacement string is ultimately applied per Replace element.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Variant" type="FormVariantType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="from" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The pattern to match. Treated as a .NET regular expression when regex="true",
                    or as a literal string otherwise.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="to" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The unconditional default replacement. May be omitted when all cases are
                    covered by Variant children (the first form then becomes the default).
                    May contain backreferences ($1, ${name}) when regex="true".
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="regex" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>
                    When true, "from" is a .NET regular expression and "to" / variant forms
                    may contain backreferences. When false (default), literal string replacement.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="TriggerType">
        <xs:annotation>
            <xs:documentation>
                A trigger that fires at a specific point in the conversion pipeline and applies
                text replacements, each optionally selecting a form based on active variant values.

                executeAt syntax:
                  "group"               — fires on the digit-only text of each group, before the
                                          scale name is appended.
                  "group(N)"            — fires for group N only (0=units, 1=thousands, 2=millions…).
                  "group(N,M)"          — fires for group N or M.
                  "groupWithScale"      — fires on the digit+scale text of each group, after the
                                          existing Replacements are applied for that group.
                  "groupWithScale(N)"   — fires for group N with its scale name.
                  "end"                 — fires on the fully assembled number text, after Replacements
                                          and Variants are applied and before FinalizeWriting.

                Pipeline (cardinal):
                  ConvertGroup → [group(N) triggers] → append scale
                    → Replacements (onScale=N, filtered by onValue if present)
                    → [groupWithScale(N) triggers] → push
                  Assemble → Replacements (global, filtered by onValue if present)
                    → Variants → [end triggers] → FinalizeWriting

                Pipeline (ordinal):
                  Group triggers fire inside ConvertRaw, same as for cardinals.
                  End triggers fire after ApplyOrdinalTransform and before FinalizeWriting.

                WARNING: group and groupWithScale triggers fire during ordinal conversion.
                A trigger that modifies cardinal text (e.g. "ein" → "eins") will prevent
                ordinal word rules from matching that word. Use end triggers or FinalizeWriting
                for transformations that must not interfere with ordinal word-rule matching.

                Each Replace element is applied independently: for each one, the most specific
                matching variant form is selected and applied exactly once.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Replace" type="TriggerReplaceType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="executeAt" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    When the trigger fires. Values: "group", "group(N)", "group(N,M,…)",
                    "groupWithScale", "groupWithScale(N)", "end".
                    Group indices: 0=units, 1=thousands, 2=millions, … (negative reserved for decimals).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="YearFormatSplitRangeType">
        <xs:annotation>
            <xs:documentation>
                A range of year values for which the split-at-hundreds algorithm is applied.
                Years in [from, to] are split: ConvertYear(y) = Convert(y/100) + " " + Convert(y%100).
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="from" type="xs:int" use="required" />
        <xs:attribute name="to" type="xs:int" use="required" />
    </xs:complexType>

    <!-- ═══════════════════════════ Root element ══════════════════════════════════════ -->

    <xs:element name="Numbers">
        <xs:annotation>
            <xs:documentation>
                Root element of a number-to-string configuration file.
                A single file may contain multiple Language definitions.
                Use RegisterConfigurations() or InitializeConfigurations() to load a file.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Language" minOccurs="1" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            Defines conversion rules for one language or culture group.
                            Multiple Culture child elements register the same converter under
                            different culture codes.

                            Mandatory child elements: Culture, Groups, NumberScale.
                            All other child elements are optional and may be omitted when
                            the corresponding feature is not needed.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element name="Culture" type="xs:string"
                                        minOccurs="1" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        Culture code that maps to this Language definition.
                                        Accepts 2-letter language codes (e.g. "FR") and 5-letter
                                        region codes (e.g. "FR-fr", "FR-ca").
                                        Lookup falls back from the 5-letter code to the 2-letter
                                        code and then to "EN" when no match is found.
                                        Multiple Culture elements register the same converter under
                                        different codes; duplicate registrations are silently ignored.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>

                            <xs:element name="Groups">
                                <xs:annotation>
                                    <xs:documentation>
                                        Digit tables for each positional level within a chunk.
                                        A chunk contains groupSize digits. Groups declares how each
                                        positional level renders its digit:
                                          level="1" = units within the chunk (always required)
                                          level="2" = tens  (required when groupSize >= 2)
                                          level="3" = hundreds (required when groupSize >= 3)

                                        Algorithm (for a 3-digit chunk, value=N):
                                          hundreds = N / 100         → Group level=3, digit=(hundreds)
                                          tens     = (N % 100) / 10  → Group level=2, digit=(tens)
                                          units    = N % 10          → Group level=1, digit=(units)
                                        The buildString of each level inserts the lower level via "*".
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Group" minOccurs="1" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Digit table for one positional level within a chunk.
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="DigitListType">
                                                        <xs:attribute name="level" type="xs:long" use="required">
                                                            <xs:annotation>
                                                                <xs:documentation>
                                                                    Positional level: 1=units, 2=tens, 3=hundreds.
                                                                    Higher values are supported for languages with groupSize > 3.
                                                                </xs:documentation>
                                                            </xs:annotation>
                                                        </xs:attribute>
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="NumberScale">
                                <xs:annotation>
                                    <xs:documentation>
                                        Configures the names of large-number scale levels
                                        (thousands, millions, billions, …).

                                        Scale names at level k represent 10^(k×groupSize).
                                          level 0 → units chunk (empty string)
                                          level 1 → thousands  (StaticNames or Suffixes)
                                          level 2 → millions   (StaticNames or Suffixes)
                                          …

                                        For levels covered by StaticNames the name is looked up
                                        directly. For higher levels a name is generated by combining
                                        Latin prefix tables (Scale0Prefixes, UnitsPrefixes, …) with
                                        a suffix from the Suffixes list.

                                        The string in StaticNames/Scale may contain "(s)" as a plural
                                        placeholder handled by the ToPlural extension.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="StaticNames">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Fixed scale names for the first levels, ordered by value.
                                                    value="0" must be an empty string (units chunk produces no scale suffix).
                                                    value="1" is typically "thousand" / "mille" / "tausend".
                                                    Higher static levels (million, milliard, …) may also be listed here.
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Scale" type="NumberType"
                                                                 minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Suffixes" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Suffixes used to build generated scale names beyond the
                                                    static entries. Each suffix is combined with Latin prefix
                                                    tables to produce names like "million", "milliard", "billion".
                                                    Suffixes cycle in order: "on(s)", "ard(s)" for French gives
                                                    million / milliard / billion / billiard / …
                                                    Omit when all scale names are covered by StaticNames.
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Suffix" type="xs:string"
                                                                 minOccurs="1" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Scale0Prefixes" type="DigitListType"
                                                    minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Overrides the default Latin base-scale prefixes
                                                    ("", "mi", "bi", "tri", …).
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="UnitsPrefixes" type="DigitListType"
                                                    minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Overrides the default unit-position prefixes used in
                                                    compound scale names ("", "uni", "duo", "tre(s)", …).
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="TensPrefixes" type="DigitListType"
                                                    minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Overrides the default tens-position prefixes
                                                    ("", "(n)deci", "(ms)vingti", …).
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HundredsPrefixes" type="DigitListType"
                                                    minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Overrides the default hundreds-position prefixes
                                                    ("", "(nx)centi", "(ms)ducenti", …).
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="firstLetterUpperCase" type="xs:boolean" use="required">
                                        <xs:annotation>
                                            <xs:documentation>
                                                When true, the first letter of generated scale names is
                                                capitalised. Set to true for languages that capitalise nouns
                                                (German: "Million", "Milliarde").
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="voidGroup" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Placeholder for a zero-valued group in the prefix chain of a
                                                compound scale name. Defaults to "ni".
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="groupSeparator" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Separator inserted between prefix segments when building
                                                compound scale names. Defaults to "lli".
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="startIndex" type="xs:integer">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Index offset applied when computing generated scale names
                                                beyond the static entries. Defaults to 0.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="Replacements" type="ReplacementsListType"
                                        minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation>
                                        Post-processing substitution rules applied to the raw number
                                        text immediately after assembly. Evaluated before variant rules
                                        and before INumberToStringLanguageSpecifics.FinalizeWriting.

                                        Common use: elide redundant words.
                                        Example (French): "un mille" → "mille" (one thousand = just "mille").
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>

                            <xs:element name="Exceptions" type="NumberListType"
                                        minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation>
                                        Irregular number forms that bypass the normal grouping algorithm.
                                        Exceptions are checked first during conversion; when matched, the
                                        stored string is returned directly (before any replacements).

                                        Use for truly irregular forms only:
                                        - English: 11 → "eleven", 12 → "twelve", … 19 → "nineteen"
                                        - French:  71 → "soixante onze", 91 → "quatre-vingt onze", …
                                          (the decade-based constructions above 70)

                                        Also used inside ConvertGroup for sub-group exceptions: when a
                                        number appears as part of a larger chunk, the exception provides
                                        its form within that context (e.g. German "ein" vs standalone "eins").
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>

                            <xs:element name="LanguageSpecifics" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation>
                                        Type name of an INumberToStringLanguageSpecifics implementation
                                        to use as the finalisation hook. The value may be the full CLR
                                        type name or the short class name; both are searched in the
                                        loaded assemblies via reflection.

                                        Pre-register an instance with RegisterLanguageSpecifics() to
                                        avoid the reflection lookup entirely.

                                        When omitted, DefaultNumberToStringLanguageSpecifics is used
                                        (returns the text unchanged).

                                        Built-in value: GermanNumberToStringLanguageSpecifics
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string"/>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="Fractions" type="FractionListType"
                                        minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation>
                                        Named denominator suffixes for the fractional part of a decimal number.
                                        When converting a decimal, if the number of fractional digits matches
                                        a Fraction entry, the fractional part is expressed as
                                        "digits-as-words suffix-plural" (e.g. "five tenths").
                                        When no entry matches, each fractional digit is spelled individually.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>

                            <xs:element name="Ordinals" type="OrdinalsType"
                                        minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation>
                                        Ordinal-conversion configuration. When present, ConvertOrdinal(int)
                                        is supported for this language.

                                        Priority (highest to lowest):
                                          1. OrdinalException — exact whole-number match.
                                          2. Ordinal word rule — last-word match.
                                          3. suffix attribute — appended after optional trailing-e stripping.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>

                            <xs:element name="Variants" type="VariantsType"
                                        minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation>
                                        Morphological variant declarations. When present, enables
                                        Convert(number, "dimension=value", …) calls.

                                        Declare all Dimension elements before any Variant element.
                                        Variants are applied after Replacements and AdjustFunction
                                        but before INumberToStringLanguageSpecifics.FinalizeWriting,
                                        so that language-specific post-processing can see the inflected form.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>

                            <xs:element name="YearFormat" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation>
                                        Year-format configuration. When present, ConvertYear(int) uses a
                                        split-at-hundreds algorithm for year values within the declared
                                        SplitRange elements. Years outside all ranges fall back to Convert(year).

                                        hundredWord        — word appended when the year is a round century
                                                             (e.g. "hundred" for 1900 → "nineteen hundred").
                                        zeroConnector      — connector inserted before single-digit remainders
                                                             (e.g. "oh" for 2005 → "twenty oh five").
                                        beforeChristSuffix — when set, ConvertYear appends this token (preceded
                                                             by the language separator) instead of using the
                                                             minus template for negative years
                                                             (e.g. "BC" for year -44 → "forty-four BC").
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="SplitRange" type="YearFormatSplitRangeType"
                                                    minOccurs="0" maxOccurs="unbounded" />
                                    </xs:sequence>
                                    <xs:attribute name="hundredWord" type="xs:string" use="optional" />
                                    <xs:attribute name="zeroConnector" type="xs:string" use="optional" />
                                    <xs:attribute name="beforeChristSuffix" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="Trigger" type="TriggerType"
                                        minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        Text-transformation rule applied at a specific point in the
                                        conversion pipeline. Multiple Trigger elements are processed
                                        in declaration order. See TriggerType for the full pipeline
                                        description and executeAt syntax.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>

                            <xs:element name="Multiplicatives" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        Named multiplicative forms (e.g. 1 → "once", 2 → "twice").
                                        When present, ConvertMultiplicative(int) is supported.
                                        Named entries take priority; the suffix is used for unnamed values.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Multiplicative" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="value" type="xs:int" use="required" />
                                                <xs:attribute name="string" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="suffix" type="xs:string" />
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="TimeUnits" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        Time-unit definitions for Convert(TimeSpan) and Convert(TimeOnly).
                                        Each Unit element maps a canonical name ("hour", "minute", "second")
                                        to its singular and plural spoken forms, with an optional count1form
                                        override for the numeral "one" when the unit has grammatical gender.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Unit" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="name" type="xs:string" use="required">
                                                    <xs:annotation><xs:documentation>Canonical name: "hour", "minute", or "second".</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="singular" type="xs:string" use="required">
                                                    <xs:annotation><xs:documentation>Singular form (e.g. "hour", "heure").</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="plural" type="xs:string" use="required">
                                                    <xs:annotation><xs:documentation>Plural form (e.g. "hours", "heures").</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="count1form" type="xs:string" use="optional">
                                                    <xs:annotation><xs:documentation>
                                                        Numeral to use when count == 1, overriding Convert(1).
                                                        Use when the unit requires a gendered or irregular form of "one"
                                                        (e.g. count1form="eine" for German feminine nouns like "Stunde").
                                                    </xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="DateFormat" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        Date-format configuration for Convert(DateOnly) and Convert(DateTime).
                                        The pattern supports tokens: {month}, {ordinal-day}, {cardinal-day}, {year}.
                                        Month names are read from System.Globalization.CultureInfo — no XML needed.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="pattern" type="xs:string" use="required">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Composition pattern. Tokens: {month} (month name from CultureInfo),
                                                {ordinal-day} (day as ordinal, e.g. "second"), {cardinal-day} (day as
                                                cardinal, e.g. "two"), {year} (via ConvertYear).
                                                Example EN: "{month} {ordinal-day}, {year}"
                                                Example FR: "{cardinal-day} {month} {year}"
                                                Example DE: "{cardinal-day}. {month} {year}"
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="firstDay" type="xs:string" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Special string for the first day of the month applied only to
                                                {ordinal-day} when day == 1.
                                                When absent, the standard ordinal form of 1 is used.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="firstCardinalDay" type="xs:string" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Special string for the first day of the month applied only to
                                                {cardinal-day} when day == 1
                                                (e.g. "premier" in French, "ersten" in German).
                                                When absent, the standard cardinal form of 1 is used.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="dateTimeConnector" type="xs:string" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Connector inserted between date and time in Convert(DateTime).
                                                Defaults to the language separator when omitted.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>

                        <xs:attribute name="baseOn" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>
                                    Culture code of the base language from which this Language inherits
                                    all settings. The base must be declared before this language
                                    (earlier in the same file, or in a previously loaded file).

                                    Merge rules:
                                      - Scalar attributes (groupSize, separator, zero, etc.): child
                                        value wins; omitted child attributes inherit from the base.
                                      - Collections (Groups, NumberScale, Replacements, Exceptions,
                                        Fractions, Ordinals, Variants): if the child declares the
                                        element it replaces the base completely; omitted elements are
                                        inherited. An empty element (e.g. &lt;Replacements /&gt;) explicitly
                                        overrides the base with an empty list.
                                      - Ordinals: OrdinalExceptions and OrdinalRules are merged
                                        element-by-element (child wins on key conflicts); suffix,
                                        prefix, and OrdinalVariants fall back to the base when absent
                                        in the child.

                                    Chains (BASE → MID → CHILD) are supported: each intermediate
                                    language is fully resolved before it is used as a base.

                                    Example — Swiss German inherits from Standard German:
                                        &lt;Language baseOn="DE"&gt;
                                            &lt;Culture&gt;de-CH&lt;/Culture&gt;
                                            &lt;Replacements /&gt;  &lt;!-- remove DE's contraction --&gt;
                                        &lt;/Language&gt;
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="groupSize" type="xs:long" use="required">
                            <xs:annotation>
                                <xs:documentation>
                                    Number of digits per chunk. Typically 3 (thousands grouping).
                                    Must match the highest level defined in Groups.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="separator" type="xs:string" use="required">
                            <xs:annotation>
                                <xs:documentation>
                                    Word separator inserted between parts of a number name within a chunk.
                                    Typically a single space " ". May be empty for agglutinative languages.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="groupSeparator" type="xs:string" use="required">
                            <xs:annotation>
                                <xs:documentation>
                                    Text inserted between chunk groups (thousands, millions, …).
                                    English: "," giving "one thousand, two hundred …"
                                    French: "" (no separator between groups).
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="zero" type="xs:string" use="required">
                            <xs:annotation>
                                <xs:documentation>Literal text for the value zero (not passed through Replacements).</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="minus" type="xs:string" use="required">
                            <xs:annotation>
                                <xs:documentation>
                                    Template for negative numbers. "*" is replaced by the absolute-value text.
                                    Examples: "minus *" (EN), "moins *" (FR), "minus *" (DE).
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="decimalSeparator" type="xs:string" use="optional">
                            <xs:annotation>
                                <xs:documentation>
                                    Word inserted between integer and fractional parts when converting
                                    a decimal number. Examples: "point" (EN), "virgule" (FR).
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="fractionSeparator" type="xs:string" use="optional">
                            <xs:annotation>
                                <xs:documentation>
                                    Connector word between numerator and denominator when expressing
                                    a rational fraction. Examples: "over" (EN), "sur" (FR).
                                    Defaults to "/" when omitted.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="maxNumber" type="xs:integer" use="optional">
                            <xs:annotation>
                                <xs:documentation>
                                    Maximum integer value the converter accepts (absolute value).
                                    Attempts to convert a larger value throw ArgumentOutOfRangeException.
                                    Omit for unlimited.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="groupConnector" type="xs:string" use="optional">
                            <xs:annotation>
                                <xs:documentation>
                                    Word inserted between scale groups when the lower group value is below
                                    groupConnectorThreshold (e.g. "and" for English "one thousand and one").
                                    Omit when no connector is needed.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="groupConnectorThreshold" type="xs:nonNegativeInteger" use="optional">
                            <xs:annotation>
                                <xs:documentation>
                                    Threshold below which groupConnector is used instead of groupSeparator.
                                    Defaults to 100 when omitted.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="intraGroupConnector" type="xs:string" use="optional">
                            <xs:annotation>
                                <xs:documentation>
                                    Word inserted inside a digit group between the hundreds and the lower part
                                    (tens + units) when that lower part is below intraGroupConnectorThreshold.
                                    Example: "linh" for Vietnamese — 101 → "một trăm linh một".
                                    Omit when no connector is needed within a group.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="intraGroupConnectorThreshold" type="xs:nonNegativeInteger" use="optional">
                            <xs:annotation>
                                <xs:documentation>
                                    Threshold below which intraGroupConnector is inserted.
                                    Defaults to 10 when omitted (connector fires for remainder 1–9).
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>

                        <xs:attribute name="scaleConnector" type="xs:string" use="optional">
                            <xs:annotation>
                                <xs:documentation>
                                    Connector word inserted between a group's digit text and the scale
                                    name when the group's numeric value is at or above scaleConnectorThreshold.
                                    Example: "de" for Romanian — "douăzeci de mii" (20 000).
                                    Omit when no connector is needed between multiplier and scale name.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>

                        <xs:attribute name="scaleConnectorThreshold" type="xs:nonNegativeInteger" use="optional">
                            <xs:annotation>
                                <xs:documentation>
                                    Threshold at or above which scaleConnector is inserted between the
                                    group digit text and the scale name. Defaults to 20 when omitted.
                                    Example: 20 for Romanian (connector fires for multiples ≥ 20 × any scale).
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>

                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
